{% extends 'layouts/application.html' %}

{% block title %}{{ title }}
  DK Personal Trainers
{% endblock %}

{% block content %}
  <div class="banner">
    <img src="/images/logo.png" alt="DK Personal" class="logo">
    <div class="content">
      <p>
        Pensando no seu bem estar físico e psicológico, neste período de quarentena, elaboramos um programa de 30 dias
        <span class="black">#mayToChange</span>.<br/>Nele você terá 2 aulas live oferecidas pelos personal trainers
        <br/>
        <span class="bold">Diego Mendes</span>
        e
        <span class="bold">Kamila Burgarelly</span>.<br/>
        Todas as terças e sextas às
        <span class="bold">5PM</span>, por apenas
        <span class="bold">$60 USD</span>.
      </p>
    </div>
    <a href="https://chat.whatsapp.com/G0pOUfueetM5wCvk0t5JvU" class="CTA">
      <img src="/images/wp.png" alt="WhatsApp">
      Venha fazer parte do nosso grupo.</a>
  </div>
{% endblock %}